@page
@model Web.Pages.ResultModel
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link rel="stylesheet" href="~/style.css" />
    <title>Stats | URL Shortener</title>
</head>
<body>
    <center>
        <a class="title" href="./" style="text-decoration: none;">
            <h1>Here's Your Link</h1>
        </a>
        <br />
        
           
            <textarea id="response">

            </textarea>
            </div>
            
            
        <br />
        <div id="response"></div>
    </center>
</body>
<script src="./stats.js"></script>
</html>
